/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fsize-11 {
  font-size: 11px;
}

.fsize-12 {
  font-size: 12px;
}

.fsize-13 {
  font-size: 13px;
}

.fsize-14 {
  font-size: 14px;
}

.fsize-15 {
  font-size: 15px;
}

.fsize-16 {
  font-size: 16px;
}

.fsize-17 {
  font-size: 17px;
}

.fsize-18 {
  font-size: 18px;
}

.fsize-19 {
  font-size: 19px;
}

.fsize-20 {
  font-size: 20px;
}

.color-primary {
  color: red;
}

.color-secondary {
  color: blue;
}

.color-complementary {
  color: green;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 980px;
  width: 100%;
  margin: auto;
}

body {
  font-family: arial;
  font-size: 1.3rem;
  color: #5d5d5d;
  background-color: white;
}

a {
  color: #5d5d5d;
  text-decoration: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .aside {
  width: 20%;
}

.main .container-cards-footer {
  width: 80%;
}

.header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-bottom: 1px solid #d8d8d8;
}

.header .nav-main {
  font-size: 1.4rem;
}

.header .nav-main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav-main li {
  margin-left: 25px;
}

.aside {
  padding: 15px;
  border-right: 1px solid #d8d8d8;
}

.aside h2 {
  color: #0d3964;
  font-size: 21px;
  margin-bottom: 10px;
}

.aside li {
  width: 80%;
  height: 30px;
}

.cards {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards .card {
  padding: 15px;
  border: 1px solid #d8d8d8;
  border-radius: 10%;
  text-align: center;
}

.cards .card .card-user {
  margin: 10px;
}

.cards .card .card-user img {
  border-radius: 100%;
}

.cards .card .card-user h2 {
  font-size: 14px;
  margin: 5px;
}

.cards .card .card-user h3 {
  font-size: 11px;
}

.cards .card .card-contact {
  margin-top: 30px;
}

.cards .card .card-contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.cards .card .card-contact ul li {
  margin-left: 3px;
  margin-right: 3px;
}

.cards .card .card-contact ul.redes-sociales-hover {
  display: none;
}

.cards .card:hover {
  border: 1px solid #3dc154;
  -webkit-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.5);
}

.cards .card:hover .card-user {
  color: #3dc154;
  font-weight: bolder;
}

.cards .card:hover .card-user img {
  border: 4px solid #3dc154;
}

.cards .card:hover .card-contact a {
  color: black;
}

.cards .card:hover .card-contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .card:hover .card-contact ul.redes-sociales {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}
/*# sourceMappingURL=main.css.map */